<launch>

    <!-- cmd line arguments -->
    <arg name="namespace" default="voxel3d_nodelet_ns" doc="namespace for the camera nodelet" />

    
    # Note:
    #   camX_sn (camera serial number) is used to specify the 5Z01A device to access.
    #   Serial number can be found on the back of 5Voxel 5Z01A device
    #   
    #   If serial number lable is missing, run single_nodelet.launch with "" in serial_number argument
    #   Serial number of 1st found 5Z01A will be printed to screen

    <!-- camera 1 -->
    <arg name="cam1_name"           default="camera1"/>
    <arg name="cam1_sn"             default="PX1909060000"/>
    <arg name="cam1_range_mode"     default="2"/>
    <arg name="cam1_conf_threshold" default="40"/>
    <arg name="cam1_auto_exposure"  default="false"/>
    <arg name="cam1_frame_id"       default="odom"/>

    <!-- camera 2 -->
    <arg name="cam2_name"           default="camera2"/>
    <arg name="cam2_sn"             default="PX2011090055"/>
    <arg name="cam2_range_mode"     default="2"/>
    <arg name="cam2_conf_threshold" default="40"/>
    <arg name="cam2_auto_exposure"  default="false"/>
    <arg name="cam2_frame_id"       default="odom"/>

    <!-- camera 3 or more -->

    <!-- nodelet nodelet manager -->
    <node pkg="nodelet"
          type="nodelet"
          name="voxel3d_nodelet_manager"
          args="manager"
          ns="$(arg namespace)"
          output="screen" />

    <!-- Specify ecah of the 5Z01A camera serial number (S/N) for access -->

    <!-- camera 1 nodelet -->
    <include file="$(find voxel3d_nodelet)/launch/voxel3d_nodelet_base.launch">
        <arg name="camera"         value="$(arg cam1_name)"/>
        <arg name="serial_number"  value="$(arg cam1_sn)"/>
        <arg name="range_mode"     value="$(arg cam1_range_mode)"/>
        <arg name="conf_threshold" value="$(arg cam1_conf_threshold)"/>
        <arg name="auto_exposure"  value="$(arg cam1_auto_exposure)"/>
        <arg name="frame_id"       value="$(arg cam1_frame_id)"/>
    </include>

    <!-- camera 2 nodelet -->
    <include file="$(find voxel3d_nodelet)/launch/voxel3d_nodelet_base.launch">
        <arg name="camera"         value="$(arg cam2_name)"/>
        <arg name="serial_number"  value="$(arg cam2_sn)"/>
        <arg name="range_mode"     value="$(arg cam2_range_mode)"/>
        <arg name="conf_threshold" value="$(arg cam2_conf_threshold)"/>
        <arg name="auto_exposure"  value="$(arg cam2_auto_exposure)"/>
        <arg name="frame_id"       value="$(arg cam2_frame_id)"/>
    </include>

    <!-- camera 3 nodelet or more -->

</launch>
